<<<<<<< HEAD
.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1001px) and (max-width: 1399px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

@media (min-width: 1400px) and (max-width: 1999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}

.video-preview {
  cursor: pointer;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 4px;
  border-radius: 2px;
=======
.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1001px) and (max-width: 1399px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

@media (min-width: 1400px) and (max-width: 1999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 2000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}

.video-preview {
  cursor: pointer;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 4px;
  border-radius: 2px;
>>>>>>> d2fdd83994fa993d8f7da7202744bc98248d7ff7
}