<<<<<<< HEAD
.video-container {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.vid-description-box {
  display: flex;
  flex-direction: column;
}

.vid-video-title {
  font-size: 30px;
  font-weight: 500;
}

.vid-description-channel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.vid-description-channel-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.vid-channel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vid-description-channel-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.vid-share,
.vid-selection-menu,
.vid-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  cursor: pointer;;
}

.like-count,
.vid-p {
  padding: 0px 5px 0px 0px;
  font-weight: 500;
}

.vid-like-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.vid-like-left,
.vid-like-right {
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.vid-like-left{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.vid-like-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.member-button:hover,
.vid-share:hover,
.vid-selection-menu:hover,
.vid-download:hover,
.vid-like-left:hover,
.vid-like-right:hover {
  background-color: rgb(230, 230, 230);
}

.vert-line {
  border: 1px solid black;
  padding: 4px 0px 4px 0px;
  height: 30px;
  background-color: rgb(211, 211, 211);
}

.video-watch {
  width: 100%;
}

.vid-channel-pic {
    width: 45px;
    margin-right: 20px;
    border-radius: 50px;
}

.vid-channelname {
  font-size: 20px;
  font-weight: 300;
  margin-right: 30px;
}

.vid-abonnement {
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.member-button {
  background-color: lightgray;
  border: 1px solid lightgray;
  white-space: nowrap;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.js-mem-status {
  font-size: 14px;
  font-weight: 200;
}

.abo-button {
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.js-abo-status {
  font-size: 14px;
  font-weight: 200;
}

.js-abo-status-click {
  font-size: 14px;
  font-weight: 1000;
}


.abo-button:hover {
  background-color: grey;
  border-color: 0px solid grey;
  white-space: nowrap;
}

.vid-icons {
  width: 30px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.vid-selection-menu {
  border-radius: 20px;
  padding: 10px;
}

.vid-icons-menu {
  width: 15px;
  cursor: pointer;
}

.vid-channel-description {
  margin-top: 10px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.vid-channel-description-part {
  padding-bottom: 20px;
}

.vid-channel-description-link {
  color: rgb(57, 137, 234);
  font-weight: 500;
  cursor: pointer;
}


/* Sidebar Video (right) */
.sidebar-right {
  display: flex;
  position: static;
  margin-top: 50px 0px 0px 10px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: white;
  width: 340px;
  padding: 0px 0px 0px 20px;
  z-index: 199;
  overflow:scroll; 
  height:800px;
}

.sidebar-right-grid {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.sidebar-right-preview {
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.sidebar-right-box {
 position: relative;
 padding-bottom: 4px;
 cursor: pointer;
}

.thumbnail-sidebar {
  width: 95%;
  border-radius: 10px;
}

.sidebar-right-title {
  font-size: 18px;
  font-weight: 400;
  color: rgb(92, 92, 92);
  padding-left: 0px;
  margin: 0px 0px 5px 0px;
}

.sidebar-right-author {
  font-size: 12px;
  color: rgb(147, 147, 147);
  margin-bottom: 5px;
}
.sidebar-right-stat {
  font-size: 12px;
  color: rgb(147, 147, 147);
}

/* Styles für Paragraphen*/

.paras {
  float:left; 
  margin-right: 5px
}
=======
.video-container {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.vid-description-box {
  display: flex;
  flex-direction: column;
}

.vid-video-title {
  font-size: 30px;
  font-weight: 500;
}

.vid-description-channel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.vid-description-channel-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.vid-channel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vid-description-channel-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.vid-share,
.vid-selection-menu,
.vid-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  cursor: pointer;;
}

.like-count,
.vid-p {
  padding: 0px 5px 0px 0px;
  font-weight: 500;
}

.vid-like-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.vid-like-left,
.vid-like-right {
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.vid-like-left{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.vid-like-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.member-button:hover,
.vid-share:hover,
.vid-selection-menu:hover,
.vid-download:hover,
.vid-like-left:hover,
.vid-like-right:hover {
  background-color: rgb(230, 230, 230);
}

.vert-line {
  border: 1px solid black;
  padding: 4px 0px 4px 0px;
  height: 30px;
  background-color: rgb(211, 211, 211);
}

.video-watch {
  width: 100%;
}

.vid-channel-pic {
    width: 45px;
    margin-right: 20px;
}

.vid-channelname {
  font-size: 20px;
  font-weight: 300;
  margin-right: 30px;
}

.vid-abonnement {
  font-size: 12px;
  color: rgb(140, 140, 140);
}

.member-button {
  background-color: lightgray;
  border: 1px solid lightgray;
  white-space: nowrap;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.js-mem-status {
  font-size: 14px;
  font-weight: 200;
}

.abo-button {
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.js-abo-status {
  font-size: 14px;
  font-weight: 200;
}


.abo-button:hover {
  background-color: grey;
  border-color: 0px solid grey;
  white-space: nowrap;
}

.vid-icons {
  width: 30px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.vid-selection-menu {
  border-radius: 20px;
  padding: 10px;
}

.vid-icons-menu {
  width: 15px;
  cursor: pointer;
}

.vid-channel-description {
  margin-top: 10px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.vid-channel-description-part {
  padding-bottom: 20px;
}

.vid-channel-description-link {
  color: rgb(57, 137, 234);
  font-weight: 500;
  cursor: pointer;
}


/* Sidebar Video (right) */
.sidebar-right {
  display: flex;
  position: static;
  margin-top: 50px 0px 0px 10px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: white;
  width: 340px;
  padding: 0px 0px 0px 20px;
  z-index: 199;
  overflow:scroll; 
  height:800px;
}

.sidebar-right-grid {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.sidebar-right-preview {
  position: relative;
  padding-bottom: 4px;
 
}

.sidebar-right-box {
 position: relative;
 padding-bottom: 4px;
}

.thumbnail-sidebar {
  width: 95%;
  border-radius: 10px;
}

.sidebar-right-title {
  font-size: 18px;
  font-weight: 400;
  color: rgb(92, 92, 92);
  padding-left: 0px;
  margin: 10px 0px 10px 0px;
}

.sidebar-right-author {
  font-size: 12px;
  color: rgb(147, 147, 147);
  margin-bottom: 5px;
}
.sidebar-right-stat {
  font-size: 12px;
  color: rgb(147, 147, 147);
}

/* Styles für Paragraphen*/

.paras {
  float:left; 
  margin-right: 5px
}
>>>>>>> d2fdd83994fa993d8f7da7202744bc98248d7ff7
