.header {
  background-color: white;
  height: 60px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);
  z-index: 300;
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  width: 40px;
  padding: 5px 5px 5px 5px;
}
.hamburger-menu {
  margin: 0px 0px 0px 24px;
  background-color: white;
}

.hamburger-menu:hover {
  cursor: pointer;
  background-color: rgb(232, 230, 230);
  border-radius: 40px;
}

.ct-logo {
  margin-top: -10px;
  height: 50px;
  padding-left: 20px;
  cursor: pointer;
}

/* Middle Section */
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 37px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba 0, 0, 0, 0.05;
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(188, 187, 187);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246);
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-icon-container,
.notification-icon-container,
.channel-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-icon-container .tooltip,
.notification-icon-container .tooltip,
.channel-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.channel-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-icon {
  height: 24px;
}

/* Right Section */

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.notification-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  font-size: 11px;
  background-color: rgb(202, 4, 4);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  top: -2px;
  right: -5px;
  border-color: black;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notification-icon {
  height: 24px;
}

.current-user-picture {
  background-color: lightblue;
  height: 32px;
  border-radius: 16px;
}