.h1 {
  font-family: Roboto, Arial;
  align-items: center;
}
.p, .li {
  font-family: Roboto, Arial;
  font-size: 14px;
}

.projekte {
  display: flex;
  justify-content:flex-start;
}

.index-ct-logo {
  height: 40px;
  margin-right: 50px;
  cursor: pointer;
}